.answered {
  background-color: $voted-green;
  border: 1px solid $primary-green !important;
  border-radius: 3px;
  h4{
    color: $primary-green;
    margin-bottom: 10px;
  }
}
.answer{
  border: 1px solid #cccccc;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  .total-votes{
  text-align: center;
  margin-top: 5px;
}
}
.progress-bar {
  background-color: whitesmoke;
  border-radius: 3px;
  width: 100%;
  .percentage {
    background-color: $primary-green;
    border-radius: 3px;
    margin: 0;
    .percentage-number {
      font-weight: 600;
      text-align: center;
    }
  }
}
