.new-question{
  font-size: 25px;
  font-weight: 600;
}
.add-form{
  padding: 10px;
  .option-field{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid #cfcece;
    margin: 10px 0;
  }
  .separator{
    text-align: center;
  }
}