.tabs {
  border: 1px solid #cfcece;
  border-radius: 3px;
  .tabs-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 3px 0;
    border-bottom: 1px solid #cfcece;
    .tab-item {
      padding: 10px 20px;
      cursor: pointer;
      width: 50%;
      text-align: center;
    }
    .tab-item:hover{
      background-color: #c0c0c0;
    }
    .selected-tab {
      background-color: #f3f3f3;
      color: $primary-green;
    }
  }
  .tabs-body {
    width: 100%;
  }
}
